body{
	background-color:rgb(20,20,20);
	color:rgb(255,255,255);
	font-family: sans-serif;
}

a{
	color:rgb(137, 43, 191);
}

#content{
	margin:auto;
	width:50%;
	padding:2% 5%;
	background-color:rgb(255,255,255);
	color:rgb(20,20,20);
}

h1{
	text-align:center;
	font-family: serif;
}
h2{
	font-family: serif;
}

#mensaje{
	text-align:center;
	margin:auto;
	padding:2em;
	background-color:#ccc;
	font-weight:bold;
}

#descripcion{
	font-style:italic;
}

#footer{
	text-align:center;
	font-size:80%;
}

/* MOBILE */
/* Overwrite the rules inside the brackets */
@media only screen and (max-device-width: 480px) {
	#content{
		width:80%;
	}

}
